In [1]:
import polars as pl

In [2]:
df = pl.read_parquet("data/pp_data_man.parquet")
df2 = pl.read_parquet("data/pc_man.parquet")

In [3]:
df.head(5)

shape: (5, 14)
┌───────────┬───────────┬───────────┬──────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ column_1  ┆ column_2  ┆ column_3  ┆ column_4 ┆ … ┆ column_11 ┆ column_12 ┆ column_13 ┆ column_14 │
│ ---       ┆ ---       ┆ ---       ┆ ---      ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ str       ┆ str       ┆ str       ┆ str      ┆   ┆ str       ┆ str       ┆ str       ┆ str       │
╞═══════════╪═══════════╪═══════════╪══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ {D93B27B1 ┆ 140,000.0 ┆ 2022-02-1 ┆ SK16 4DT ┆ … ┆           ┆ DUKINFIEL ┆ TAMESIDE  ┆ GREATER   │
│ -CBD4-310 ┆ 0         ┆ 6 00:00   ┆          ┆   ┆           ┆ D         ┆           ┆ MANCHESTE │
│ 0-E053-6C ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ R         │
│ 04A…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {2ACACE8D ┆ 278,000.0 ┆ 2024-11-2 ┆ SK6 1QW  ┆ … ┆ WOODLEY   ┆ STOCKPORT ┆ STOCKPORT ┆ GREATER   │
│ -02B4-295 ┆ 0         ┆ 9 00:00   ┆          ┆   ┆           ┆           ┆           ┆ MANCHESTE │
│ E-E063-48 ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ R         │
│ 04A…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {01EB45EF ┆ 345,448.0 ┆ 2022-02-1 ┆ M1 2EY   ┆ … ┆           ┆ MANCHESTE ┆ MANCHESTE ┆ GREATER   │
│ -F1B0-40F ┆ 0         ┆ 1 00:00   ┆          ┆   ┆           ┆ R         ┆ R         ┆ MANCHESTE │
│ 3-E063-47 ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ R         │
│ 04A…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {879537F9 ┆ 93,000.00 ┆ 2004-09-2 ┆ BL8 2RR  ┆ … ┆ BURY      ┆ BURY      ┆ BURY      ┆ GREATER   │
│ -FB6B-466 ┆           ┆ 2 00:00   ┆          ┆   ┆           ┆           ┆           ┆ MANCHESTE │
│ 3-A0E5-5E ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ R         │
│ 407…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {7011B10A ┆ 80,000.00 ┆ 2018-05-0 ┆ BL3 4HE  ┆ … ┆           ┆ BOLTON    ┆ BOLTON    ┆ GREATER   │
│ -2B91-8ED ┆           ┆ 3 00:00   ┆          ┆   ┆           ┆           ┆           ┆ MANCHESTE │
│ 6-E053-6B ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ R         │
│ 04A…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
└───────────┴───────────┴───────────┴──────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [4]:
df2.head(5)

shape: (5, 3)
┌─────────┬───────────┬───────────┐
│ pcds    ┆ lat       ┆ long      │
│ ---     ┆ ---       ┆ ---       │
│ str     ┆ f64       ┆ f64       │
╞═════════╪═══════════╪═══════════╡
│ AL1 3PE ┆ 51.755864 ┆ -0.327577 │
│ AL1 4FJ ┆ 51.761598 ┆ -0.326075 │
│ AL1 5UE ┆ 51.751596 ┆ -0.325894 │
│ AL2 1NT ┆ 51.720229 ┆ -0.295058 │
│ AL2 2PJ ┆ 51.721518 ┆ -0.337343 │
└─────────┴───────────┴───────────┘

In [5]:
df.columns = [
    "id", "price", "date", "postcode", "property_type", "new", "duration",
    "paon", "saon", "street", "locality", "town_city", "district", "county"
]
df2 = df2.rename({"pcds": "postcode", "lat": "latitude", "long": "longitude"})

In [6]:
df.select(pl.col("saon")).head(10)

shape: (10, 1)
┌──────────────┐
│ saon         │
│ ---          │
│ str          │
╞══════════════╡
│              │
│              │
│ FLAT 902     │
│              │
│              │
│ APARTMENT 23 │
│              │
│              │
│              │
│              │
└──────────────┘

In [7]:
df.null_count()

shape: (1, 14)
┌─────┬───────┬──────┬──────────┬───┬──────────┬───────────┬──────────┬────────┐
│ id  ┆ price ┆ date ┆ postcode ┆ … ┆ locality ┆ town_city ┆ district ┆ county │
│ --- ┆ ---   ┆ ---  ┆ ---      ┆   ┆ ---      ┆ ---       ┆ ---      ┆ ---    │
│ u32 ┆ u32   ┆ u32  ┆ u32      ┆   ┆ u32      ┆ u32       ┆ u32      ┆ u32    │
╞═════╪═══════╪══════╪══════════╪═══╪══════════╪═══════════╪══════════╪════════╡
│ 0   ┆ 0     ┆ 0    ┆ 0        ┆ … ┆ 0        ┆ 0         ┆ 0        ┆ 0      │
└─────┴───────┴──────┴──────────┴───┴──────────┴───────────┴──────────┴────────┘

In [8]:

df2.null_count()

shape: (1, 3)
┌──────────┬──────────┬───────────┐
│ postcode ┆ latitude ┆ longitude │
│ ---      ┆ ---      ┆ ---       │
│ u32      ┆ u32      ┆ u32       │
╞══════════╪══════════╪═══════════╡
│ 0        ┆ 0        ┆ 0         │
└──────────┴──────────┴───────────┘

In [9]:
df.schema

Schema([('id', String),
        ('price', String),
        ('date', String),
        ('postcode', String),
        ('property_type', String),
        ('new', String),
        ('duration', String),
        ('paon', String),
        ('saon', String),
        ('street', String),
        ('locality', String),
        ('town_city', String),
        ('district', String),
        ('county', String)])

In [10]:
df2.schema

Schema([('postcode', String), ('latitude', Float64), ('longitude', Float64)])

In [11]:
df = df.with_columns(
    pl.col("postcode")
      .cast(pl.Utf8)
      .str.strip_chars()
      .str.to_uppercase()
      .str.replace_all(r"\s+", " ")
      .alias("postcode")
)

df2 = df2.with_columns(
    pl.col("postcode")
      .cast(pl.Utf8)
      .str.strip_chars()
      .str.to_uppercase()
      .str.replace_all(r"\s+", " ")
      .alias("postcode")
)

In [12]:
df = df.join(
    df2.select("postcode", "latitude", "longitude"),
    on="postcode",
    how="left"
)

In [13]:
string_cols = [c for c, t in df.schema.items() if t == pl.Utf8]
df = df.with_columns([
    pl.when(pl.col(c) == "").then(None).otherwise(pl.col(c)).alias(c) for c in string_cols
    ])

In [26]:
df.null_count()

shape: (1, 14)
┌─────┬───────┬──────┬──────────┬───┬──────────┬────────┬──────────┬───────────┐
│ id  ┆ price ┆ date ┆ postcode ┆ … ┆ district ┆ county ┆ latitude ┆ longitude │
│ --- ┆ ---   ┆ ---  ┆ ---      ┆   ┆ ---      ┆ ---    ┆ ---      ┆ ---       │
│ u32 ┆ u32   ┆ u32  ┆ u32      ┆   ┆ u32      ┆ u32    ┆ u32      ┆ u32       │
╞═════╪═══════╪══════╪══════════╪═══╪══════════╪════════╪══════════╪═══════════╡
│ 0   ┆ 0     ┆ 0    ┆ 0        ┆ … ┆ 0        ┆ 0      ┆ 30       ┆ 30        │
└─────┴───────┴──────┴──────────┴───┴──────────┴────────┴──────────┴───────────┘

In [15]:
df = df.with_columns(
    pl.when(pl.col("saon").is_not_null() & (pl.col("saon") != ""))
      .then(pl.concat_str([pl.col("paon"), pl.col("saon")], separator=", "))
      .otherwise(pl.col("paon"))
      .alias("paon")
).drop("saon")

In [ ]:
null_paon = df.filter(pl.col("street").is_null())
print(null_paon)

In [25]:
df = df.drop_nulls(subset=["postcode"])
df = df.drop("locality")

In [28]:
df = df.with_columns(
    pl.col("postcode")
      .str.strip_chars()
      .str.to_uppercase()
      .str.replace_all(r"\s+", " ")
      .alias("postcode")
)

In [36]:
df.head(5)

shape: (5, 14)
┌────────────┬──────────┬───────────┬──────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ id         ┆ price    ┆ date      ┆ postcode ┆ … ┆ district  ┆ county    ┆ latitude  ┆ longitude │
│ ---        ┆ ---      ┆ ---       ┆ ---      ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ str        ┆ f64      ┆ date      ┆ str      ┆   ┆ str       ┆ str       ┆ f64       ┆ f64       │
╞════════════╪══════════╪═══════════╪══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ {D93B27B1- ┆ 140000.0 ┆ 2022-02-1 ┆ SK16 4DT ┆ … ┆ TAMESIDE  ┆ GREATER   ┆ 53.477466 ┆ -2.091735 │
│ CBD4-3100- ┆          ┆ 6         ┆          ┆   ┆           ┆ MANCHESTE ┆           ┆           │
│ E053-6C04A ┆          ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ …          ┆          ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {2ACACE8D- ┆ 278000.0 ┆ 2024-11-2 ┆ SK6 1QW  ┆ … ┆ STOCKPORT ┆ GREATER   ┆ 53.427355 ┆ -2.102642 │
│ 02B4-295E- ┆          ┆ 9         ┆          ┆   ┆           ┆ MANCHESTE ┆           ┆           │
│ E063-4804A ┆          ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ …          ┆          ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {01EB45EF- ┆ 345448.0 ┆ 2022-02-1 ┆ M1 2EY   ┆ … ┆ MANCHESTE ┆ GREATER   ┆ 53.478898 ┆ -2.224708 │
│ F1B0-40F3- ┆          ┆ 1         ┆          ┆   ┆ R         ┆ MANCHESTE ┆           ┆           │
│ E063-4704A ┆          ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ …          ┆          ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {879537F9- ┆ 93000.0  ┆ 2004-09-2 ┆ BL8 2RR  ┆ … ┆ BURY      ┆ GREATER   ┆ 53.594024 ┆ -2.318071 │
│ FB6B-4663- ┆          ┆ 2         ┆          ┆   ┆           ┆ MANCHESTE ┆           ┆           │
│ A0E5-5E407 ┆          ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ …          ┆          ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {7011B10A- ┆ 80000.0  ┆ 2018-05-0 ┆ BL3 4HE  ┆ … ┆ BOLTON    ┆ GREATER   ┆ 53.56682  ┆ -2.458227 │
│ 2B91-8ED6- ┆          ┆ 3         ┆          ┆   ┆           ┆ MANCHESTE ┆           ┆           │
│ E053-6B04A ┆          ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ …          ┆          ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
└────────────┴──────────┴───────────┴──────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [31]:
df = df.with_columns(
    pl.col("date").str.slice(0, 10).str.strptime(pl.Date, format="%Y-%m-%d", strict=True).alias("date")
)

In [35]:
df = df.with_columns(
    pl.col("price")
      .str.replace_all(",", "")
      .cast(pl.Float64)
      .alias("price")
)