1. Import polars, and load the data into Dataframes

In [1]:
import polars as pl

In [2]:
df = pl.read_parquet("data/pp_data_man.parquet")
df2 = pl.read_parquet("data/pc_man.parquet")

2. Check Dataframes

In [3]:
df.head(5)

shape: (5, 14)
┌───────────┬───────────┬───────────┬──────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ column_1  ┆ column_2  ┆ column_3  ┆ column_4 ┆ … ┆ column_11 ┆ column_12 ┆ column_13 ┆ column_14 │
│ ---       ┆ ---       ┆ ---       ┆ ---      ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ str       ┆ str       ┆ str       ┆ str      ┆   ┆ str       ┆ str       ┆ str       ┆ str       │
╞═══════════╪═══════════╪═══════════╪══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ {D93B27B1 ┆ 140,000.0 ┆ 2022-02-1 ┆ SK16 4DT ┆ … ┆           ┆ DUKINFIEL ┆ TAMESIDE  ┆ GREATER   │
│ -CBD4-310 ┆ 0         ┆ 6 00:00   ┆          ┆   ┆           ┆ D         ┆           ┆ MANCHESTE │
│ 0-E053-6C ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ R         │
│ 04A…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {2ACACE8D ┆ 278,000.0 ┆ 2024-11-2 ┆ SK6 1QW  ┆ … ┆ WOODLEY   ┆ STOCKPORT ┆ STOCKPORT ┆ GREATER   │
│ -02B4-295 ┆ 0         ┆ 9 00:00   ┆          ┆   ┆           ┆           ┆           ┆ MANCHESTE │
│ E-E063-48 ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ R         │
│ 04A…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {01EB45EF ┆ 345,448.0 ┆ 2022-02-1 ┆ M1 2EY   ┆ … ┆           ┆ MANCHESTE ┆ MANCHESTE ┆ GREATER   │
│ -F1B0-40F ┆ 0         ┆ 1 00:00   ┆          ┆   ┆           ┆ R         ┆ R         ┆ MANCHESTE │
│ 3-E063-47 ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ R         │
│ 04A…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {879537F9 ┆ 93,000.00 ┆ 2004-09-2 ┆ BL8 2RR  ┆ … ┆ BURY      ┆ BURY      ┆ BURY      ┆ GREATER   │
│ -FB6B-466 ┆           ┆ 2 00:00   ┆          ┆   ┆           ┆           ┆           ┆ MANCHESTE │
│ 3-A0E5-5E ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ R         │
│ 407…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {7011B10A ┆ 80,000.00 ┆ 2018-05-0 ┆ BL3 4HE  ┆ … ┆           ┆ BOLTON    ┆ BOLTON    ┆ GREATER   │
│ -2B91-8ED ┆           ┆ 3 00:00   ┆          ┆   ┆           ┆           ┆           ┆ MANCHESTE │
│ 6-E053-6B ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ R         │
│ 04A…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
└───────────┴───────────┴───────────┴──────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [4]:
df2.head(5)

shape: (5, 3)
┌─────────┬───────────┬───────────┐
│ pcds    ┆ lat       ┆ long      │
│ ---     ┆ ---       ┆ ---       │
│ str     ┆ f64       ┆ f64       │
╞═════════╪═══════════╪═══════════╡
│ AL1 3PE ┆ 51.755864 ┆ -0.327577 │
│ AL1 4FJ ┆ 51.761598 ┆ -0.326075 │
│ AL1 5UE ┆ 51.751596 ┆ -0.325894 │
│ AL2 1NT ┆ 51.720229 ┆ -0.295058 │
│ AL2 2PJ ┆ 51.721518 ┆ -0.337343 │
└─────────┴───────────┴───────────┘

3. Rename columns, as properties are missing them and standardize the coordinates for future joining

In [5]:
df.columns = [
    "id", "price", "date", "postcode", "property_type", "new", "duration",
    "paon", "saon", "street", "locality", "town_city", "district", "county"
]
df2 = df2.rename({"pcds": "postcode", "lat": "latitude", "long": "longitude"})

4.visual double check for the missing values/empty rows

In [6]:
df.select(pl.col("saon")).head(10)

shape: (10, 1)
┌──────────────┐
│ saon         │
│ ---          │
│ str          │
╞══════════════╡
│              │
│              │
│ FLAT 902     │
│              │
│              │
│ APARTMENT 23 │
│              │
│              │
│              │
│              │
└──────────────┘

5.Count nulls

In [7]:
df.null_count()

shape: (1, 14)
┌─────┬───────┬──────┬──────────┬───┬──────────┬───────────┬──────────┬────────┐
│ id  ┆ price ┆ date ┆ postcode ┆ … ┆ locality ┆ town_city ┆ district ┆ county │
│ --- ┆ ---   ┆ ---  ┆ ---      ┆   ┆ ---      ┆ ---       ┆ ---      ┆ ---    │
│ u32 ┆ u32   ┆ u32  ┆ u32      ┆   ┆ u32      ┆ u32       ┆ u32      ┆ u32    │
╞═════╪═══════╪══════╪══════════╪═══╪══════════╪═══════════╪══════════╪════════╡
│ 0   ┆ 0     ┆ 0    ┆ 0        ┆ … ┆ 0        ┆ 0         ┆ 0        ┆ 0      │
└─────┴───────┴──────┴──────────┴───┴──────────┴───────────┴──────────┴────────┘

In [8]:

df2.null_count()

shape: (1, 3)
┌──────────┬──────────┬───────────┐
│ postcode ┆ latitude ┆ longitude │
│ ---      ┆ ---      ┆ ---       │
│ u32      ┆ u32      ┆ u32       │
╞══════════╪══════════╪═══════════╡
│ 0        ┆ 0        ┆ 0         │
└──────────┴──────────┴───────────┘

6. check data types

In [9]:
df.schema

Schema([('id', String),
        ('price', String),
        ('date', String),
        ('postcode', String),
        ('property_type', String),
        ('new', String),
        ('duration', String),
        ('paon', String),
        ('saon', String),
        ('street', String),
        ('locality', String),
        ('town_city', String),
        ('district', String),
        ('county', String)])

In [10]:
df2.schema

Schema([('postcode', String), ('latitude', Float64), ('longitude', Float64)])

7. Standardize postcodes for future joining

In [11]:
df = df.with_columns(
    pl.col("postcode")
      .cast(pl.Utf8)
      .str.strip_chars()
      .str.to_uppercase()
      .str.replace_all(r"\s+", " ")
      .alias("postcode")
)

df2 = df2.with_columns(
    pl.col("postcode")
      .cast(pl.Utf8)
      .str.strip_chars()
      .str.to_uppercase()
      .str.replace_all(r"\s+", " ")
      .alias("postcode")
)

8.Join dataframes into 1

In [12]:
df = df.join(
    df2.select("postcode", "latitude", "longitude"),
    on="postcode",
    how="left"
)

9. Replace "" with proper nulls as visually we are missing data.

In [13]:
string_cols = [c for c, t in df.schema.items() if t == pl.Utf8]
df = df.with_columns([
    pl.when(pl.col(c) == "").then(None).otherwise(pl.col(c)).alias(c) for c in string_cols
    ])

10.Second null check.

In [14]:
df.null_count()

shape: (1, 16)
┌─────┬───────┬──────┬──────────┬───┬──────────┬────────┬──────────┬───────────┐
│ id  ┆ price ┆ date ┆ postcode ┆ … ┆ district ┆ county ┆ latitude ┆ longitude │
│ --- ┆ ---   ┆ ---  ┆ ---      ┆   ┆ ---      ┆ ---    ┆ ---      ┆ ---       │
│ u32 ┆ u32   ┆ u32  ┆ u32      ┆   ┆ u32      ┆ u32    ┆ u32      ┆ u32       │
╞═════╪═══════╪══════╪══════════╪═══╪══════════╪════════╪══════════╪═══════════╡
│ 0   ┆ 0     ┆ 0    ┆ 1169     ┆ … ┆ 0        ┆ 0      ┆ 1199     ┆ 1199      │
└─────┴───────┴──────┴──────────┴───┴──────────┴────────┴──────────┴───────────┘

11. Concatenate Paon and saon as some addresses dont have a secondary address object and then drop the column

In [15]:
df = df.with_columns(
    pl.when(pl.col("saon").is_not_null() & (pl.col("saon") != ""))
      .then(pl.concat_str([pl.col("paon"), pl.col("saon")], separator=", "))
      .otherwise(pl.col("paon"))
      .alias("paon")
).drop("saon")

12. check what records are missing the street.

In [ ]:
null_street = df.filter(pl.col("street").is_null())
print(null_street)

shape: (1_414, 15)
┌───────────┬───────────┬───────────┬──────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ id        ┆ price     ┆ date      ┆ postcode ┆ … ┆ district  ┆ county    ┆ latitude  ┆ longitude │
│ ---       ┆ ---       ┆ ---       ┆ ---      ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ str       ┆ str       ┆ str       ┆ str      ┆   ┆ str       ┆ str       ┆ f64       ┆ f64       │
╞═══════════╪═══════════╪═══════════╪══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ {76492375 ┆ 54,000.00 ┆ 2002-06-1 ┆ M34 3LY  ┆ … ┆ TAMESIDE  ┆ GREATER   ┆ 53.460581 ┆ -2.117257 │
│ -1598-4FD ┆           ┆ 4 00:00   ┆          ┆   ┆           ┆ MANCHESTE ┆           ┆           │
│ B-827E-B5 ┆           ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ A68…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {5D5B84C7 ┆ 8,000.00  ┆ 2002-03-1 ┆ M6 5SH   ┆ … ┆ SALFORD   ┆ GREATER   ┆ 53.481799 ┆ -2.292474 │
│ -0389-4C9 ┆           ┆ 8 00:00   ┆          ┆   ┆           ┆ MANCHESTE ┆           ┆           │
│ C-A5DB-84 ┆           ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ 211…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {45F78F60 ┆ 25,000.00 ┆ 1996-07-0 ┆ M40 5FW  ┆ … ┆ MANCHESTE ┆ GREATER   ┆ 53.507119 ┆ -2.189772 │
│ -021C-4DD ┆           ┆ 5 00:00   ┆          ┆   ┆ R         ┆ MANCHESTE ┆           ┆           │
│ E-8B9B-20 ┆           ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ C65…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {0ADC45AD ┆ 19,950.00 ┆ 2000-12-2 ┆ OL9 7BZ  ┆ … ┆ OLDHAM    ┆ GREATER   ┆ 53.53261  ┆ -2.137777 │
│ -2D4C-4B0 ┆           ┆ 1 00:00   ┆          ┆   ┆           ┆ MANCHESTE ┆           ┆           │
│ 5-B575-D8 ┆           ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ A2B…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {3A08F635 ┆ 26,000.00 ┆ 2006-05-1 ┆ M6 7LE   ┆ … ┆ SALFORD   ┆ GREATER   ┆ 53.50252  ┆ -2.302205 │
│ -B0D2-400 ┆           ┆ 0 00:00   ┆          ┆   ┆           ┆ MANCHESTE ┆           ┆           │
│ 0-9983-D5 ┆           ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ 6C6…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ …         ┆ …         ┆ …         ┆ …        ┆ … ┆ …         ┆ …         ┆ …         ┆ …         │
│ {A35793D4 ┆ 9,500.00  ┆ 1999-12-0 ┆ M40 5FL  ┆ … ┆ MANCHESTE ┆ GREATER   ┆ 53.507722 ┆ -2.189247 │
│ -13BC-432 ┆           ┆ 1 00:00   ┆          ┆   ┆ R         ┆ MANCHESTE ┆           ┆           │
│ 5-8702-E1 ┆           ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ DC4…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {F0CA2A01 ┆ 38,000.00 ┆ 1995-04-1 ┆ BL5 2RA  ┆ … ┆ BOLTON    ┆ GREATER   ┆ 53.534273 ┆ -2.528049 │
│ -F454-495 ┆           ┆ 3 00:00   ┆          ┆   ┆           ┆ MANCHESTE ┆           ┆           │
│ 5-A8B8-0B ┆           ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ 35F…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {A96E4ACC ┆ 260,000.0 ┆ 2020-04-2 ┆ OL3 5LB  ┆ … ┆ OLDHAM    ┆ GREATER   ┆ 53.569161 ┆ -1.975106 │
│ -4FFB-920 ┆ 0         ┆ 4 00:00   ┆          ┆   ┆           ┆ MANCHESTE ┆           ┆           │
│ 5-E053-6C ┆           ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ 04A…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {122EA0D7 ┆ 19,000.00 ┆ 1995-08-3 ┆ M7 1NF   ┆ … ┆ SALFORD   ┆ GREATER   ┆ 53.497538 ┆ -2.261015 │
│ -7086-4E8 ┆           ┆ 1 00:00   ┆          ┆   ┆           ┆ MANCHESTE ┆           ┆           │
│ 9-9833-EB ┆           ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ 18F…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {1D460B83 ┆ 8,500.00  ┆ 2002-11-2 ┆ M6 5RZ   ┆ … ┆ SALFORD   ┆ GREATER   ┆ 53.482917 ┆ -2.291276 │
│ -B115-487 ┆           ┆ 9 00:00   ┆          ┆   ┆           ┆ MANCHESTE ┆           ┆           │
│ D-9F4C-47 ┆           ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ 431…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
└───────────┴───────────┴───────────┴──────────┴───┴───────────┴───────────┴───────────┴───────────┘

13. Drop rows with missing postcodes and the whole locality column as we have the district-city-county columns

In [17]:
df = df.drop_nulls(subset=["postcode"])
df = df.drop("locality")

14. make sure post code is in the right format

In [18]:
df = df.with_columns(
    pl.col("postcode")
      .str.strip_chars()
      .str.to_uppercase()
      .str.replace_all(r"\s+", " ")
      .alias("postcode")
)

15. check whats next in the cleaning docket

In [19]:
df.head(5)

shape: (5, 14)
┌───────────┬───────────┬───────────┬──────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ id        ┆ price     ┆ date      ┆ postcode ┆ … ┆ district  ┆ county    ┆ latitude  ┆ longitude │
│ ---       ┆ ---       ┆ ---       ┆ ---      ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ str       ┆ str       ┆ str       ┆ str      ┆   ┆ str       ┆ str       ┆ f64       ┆ f64       │
╞═══════════╪═══════════╪═══════════╪══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ {D93B27B1 ┆ 140,000.0 ┆ 2022-02-1 ┆ SK16 4DT ┆ … ┆ TAMESIDE  ┆ GREATER   ┆ 53.477466 ┆ -2.091735 │
│ -CBD4-310 ┆ 0         ┆ 6 00:00   ┆          ┆   ┆           ┆ MANCHESTE ┆           ┆           │
│ 0-E053-6C ┆           ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ 04A…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {2ACACE8D ┆ 278,000.0 ┆ 2024-11-2 ┆ SK6 1QW  ┆ … ┆ STOCKPORT ┆ GREATER   ┆ 53.427355 ┆ -2.102642 │
│ -02B4-295 ┆ 0         ┆ 9 00:00   ┆          ┆   ┆           ┆ MANCHESTE ┆           ┆           │
│ E-E063-48 ┆           ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ 04A…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {01EB45EF ┆ 345,448.0 ┆ 2022-02-1 ┆ M1 2EY   ┆ … ┆ MANCHESTE ┆ GREATER   ┆ 53.478898 ┆ -2.224708 │
│ -F1B0-40F ┆ 0         ┆ 1 00:00   ┆          ┆   ┆ R         ┆ MANCHESTE ┆           ┆           │
│ 3-E063-47 ┆           ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ 04A…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {879537F9 ┆ 93,000.00 ┆ 2004-09-2 ┆ BL8 2RR  ┆ … ┆ BURY      ┆ GREATER   ┆ 53.594024 ┆ -2.318071 │
│ -FB6B-466 ┆           ┆ 2 00:00   ┆          ┆   ┆           ┆ MANCHESTE ┆           ┆           │
│ 3-A0E5-5E ┆           ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ 407…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {7011B10A ┆ 80,000.00 ┆ 2018-05-0 ┆ BL3 4HE  ┆ … ┆ BOLTON    ┆ GREATER   ┆ 53.56682  ┆ -2.458227 │
│ -2B91-8ED ┆           ┆ 3 00:00   ┆          ┆   ┆           ┆ MANCHESTE ┆           ┆           │
│ 6-E053-6B ┆           ┆           ┆          ┆   ┆           ┆ R         ┆           ┆           │
│ 04A…      ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
└───────────┴───────────┴───────────┴──────────┴───┴───────────┴───────────┴───────────┴───────────┘

16. remove the hours from the date as its not needed for a cleaner date and it will interfere with the analysis further down

In [20]:
df = df.with_columns(
    pl.col("date").str.slice(0, 10).str.strptime(pl.Date, format="%Y-%m-%d", strict=True).alias("date")
)

17. change the price to a float

In [21]:
df = df.with_columns(
    pl.col("price")
      .str.replace_all(",", "")
      .cast(pl.Float64)
      .alias("price")
)

18.Separate the date into individual yyyy/mm/dd columns for easier analysis

In [22]:
df = df.with_columns([
    pl.col("date").dt.year().alias("sale_year"),
    pl.col("date").dt.month().alias("sale_month"),
    pl.col("date").dt.quarter().alias("sale_quarter")
])

19.Prepare the street column to fill the missing values by filling missing values with the street from the same postcode

In [24]:
df_non_null_street = df.filter(pl.col("street").is_not_null())

In [25]:
postcode_mode_list = (
    df_non_null_street
    .group_by("postcode")
    .agg(
        pl.col("street").mode().alias("street_modes")
    )
)

In [26]:
postcode_fill = postcode_mode_list.with_columns(
    pl.col("street_modes").list.first().alias("imputed_street")
).drop("street_modes")

21. Fill empty streets with the common street for the postcode

In [27]:
df_joined = df.join(postcode_fill, on="postcode", how="left")

In [28]:
df_filled = df_joined.with_columns(
    pl.when(pl.col("street").is_null())
      .then(pl.col("imputed_street"))
      .otherwise(pl.col("street"))
      .alias("street")
).drop("imputed_street")

22. check the new null count

In [29]:
df_filled.null_count()

shape: (1, 17)
┌─────┬───────┬──────┬──────────┬───┬───────────┬───────────┬────────────┬──────────────┐
│ id  ┆ price ┆ date ┆ postcode ┆ … ┆ longitude ┆ sale_year ┆ sale_month ┆ sale_quarter │
│ --- ┆ ---   ┆ ---  ┆ ---      ┆   ┆ ---       ┆ ---       ┆ ---        ┆ ---          │
│ u32 ┆ u32   ┆ u32  ┆ u32      ┆   ┆ u32       ┆ u32       ┆ u32        ┆ u32          │
╞═════╪═══════╪══════╪══════════╪═══╪═══════════╪═══════════╪════════════╪══════════════╡
│ 0   ┆ 0     ┆ 0    ┆ 0        ┆ … ┆ 30        ┆ 0         ┆ 0          ┆ 0            │
└─────┴───────┴──────┴──────────┴───┴───────────┴───────────┴────────────┴──────────────┘

23. fill missing street and primary address object with not applicable

In [30]:
df_filled = df_filled.with_columns([
    pl.col("paon").fill_null("N/A"),
    pl.col("street").fill_null("N/A")
])

24. Standardize and change data type for the category columns

In [31]:
categorical_cols = ["property_type", "duration", "new"]

for col in categorical_cols:
    if col in df_filled.columns:
        df_filled = df_filled.with_columns(
            pl.col(col)
            .str.strip_chars()
            .str.to_lowercase()
            .cast(pl.Categorical)
            .alias(col)
        )

25. final data check before analysis.

In [32]:
df_filled.head(5)

shape: (5, 17)
┌────────────┬──────────┬───────────┬──────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ id         ┆ price    ┆ date      ┆ postcode ┆ … ┆ longitude ┆ sale_year ┆ sale_mont ┆ sale_quar │
│ ---        ┆ ---      ┆ ---       ┆ ---      ┆   ┆ ---       ┆ ---       ┆ h         ┆ ter       │
│ str        ┆ f64      ┆ date      ┆ str      ┆   ┆ f64       ┆ i32       ┆ ---       ┆ ---       │
│            ┆          ┆           ┆          ┆   ┆           ┆           ┆ i8        ┆ i8        │
╞════════════╪══════════╪═══════════╪══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ {D93B27B1- ┆ 140000.0 ┆ 2022-02-1 ┆ SK16 4DT ┆ … ┆ -2.091735 ┆ 2022      ┆ 2         ┆ 1         │
│ CBD4-3100- ┆          ┆ 6         ┆          ┆   ┆           ┆           ┆           ┆           │
│ E053-6C04A ┆          ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ …          ┆          ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {2ACACE8D- ┆ 278000.0 ┆ 2024-11-2 ┆ SK6 1QW  ┆ … ┆ -2.102642 ┆ 2024      ┆ 11        ┆ 4         │
│ 02B4-295E- ┆          ┆ 9         ┆          ┆   ┆           ┆           ┆           ┆           │
│ E063-4804A ┆          ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ …          ┆          ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {01EB45EF- ┆ 345448.0 ┆ 2022-02-1 ┆ M1 2EY   ┆ … ┆ -2.224708 ┆ 2022      ┆ 2         ┆ 1         │
│ F1B0-40F3- ┆          ┆ 1         ┆          ┆   ┆           ┆           ┆           ┆           │
│ E063-4704A ┆          ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ …          ┆          ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {879537F9- ┆ 93000.0  ┆ 2004-09-2 ┆ BL8 2RR  ┆ … ┆ -2.318071 ┆ 2004      ┆ 9         ┆ 3         │
│ FB6B-4663- ┆          ┆ 2         ┆          ┆   ┆           ┆           ┆           ┆           │
│ A0E5-5E407 ┆          ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ …          ┆          ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ {7011B10A- ┆ 80000.0  ┆ 2018-05-0 ┆ BL3 4HE  ┆ … ┆ -2.458227 ┆ 2018      ┆ 5         ┆ 2         │
│ 2B91-8ED6- ┆          ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆           │
│ E053-6B04A ┆          ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ …          ┆          ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
└────────────┴──────────┴───────────┴──────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [33]:
df_filled.schema

Schema([('id', String),
        ('price', Float64),
        ('date', Date),
        ('postcode', String),
        ('property_type', Categorical),
        ('new', Categorical),
        ('duration', Categorical),
        ('paon', String),
        ('street', String),
        ('town_city', String),
        ('district', String),
        ('county', String),
        ('latitude', Float64),
        ('longitude', Float64),
        ('sale_year', Int32),
        ('sale_month', Int8),
        ('sale_quarter', Int8)])

26. Looks good ready for pipeline implementation